<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">¿Qué es la Cirugía Bucal y Buco-Maxilofacial?</h1>
    </div>
</section>
<section>
    <div class="container">
        <h2>Definición</h2><br>
        <div class="row">

            <div class="clear"></div>
            <div class="col-12 col-sm-6">
                <p>La Cirugía Buco-Maxilofacial es una especialidad dentro de la odontología que se encarga del diagnóstico y del tratamiento quirúrgico de enfermedades, traumas y defectos, tanto en su aspecto funcional como en el estético, de los tejidos
                    blandos y duros de la región bucal y maxilofacial <i>(Internacional Association of Oral and Maxillofacial Surgenos - IAOMS 2007, Estándares Latinoamericanos de la Asociación Latinoamericana de Cirugía Buco-Maxilofacial -ALACIBU, 2007.
                    Reglamento de la Especialidad de Cirugía Bucal y Maxilofacial de la Sociedad Venezolana de Cirugía Buco-Maxilofacial - SVCBMF, 2014).</i>
                    <br><br> La formación como especialista en cirugía bucal o buco-maxilofacial, comienza justo al terminar el postgrado, con el primer acercamiento al realizar pasantías vocacionales, internados hospitalarios o rotaciónes durante un
                    periodo de 6 meses aproximadamente durante el cual el odontólogo comienza a adentrarse en los fundamentos y el dia a dia de la especialidad. Al iniciar formalmente los estudios en la especialidad, los diversos programas comprenden
                    de un entrenamiento clínico en ambiente hospitalario a dedicación exclusiva y formación universitaria de mínimo 4 años no solo en el área de la cirugía y traumatología Bucal y Maxilofacial, sino también con rotaciones hospitalarias
                    por los servicios de medicina interna, traumatología, cirugía general y anestesiología, entre otros; siendo también complementado con actividades académicas y líneas de investigación afines. </p>
            </div>
            <div class="col-12 col-sm-6">
                <p>El especialista sigue un camino similar, pero cursando programas académicos e universitarios en la especialidad a dedicación exclusiva por 3 años. En Venezuela los Programas de especialización en cirugía bucal reconocidos por el colegio
                    de odontólogos y nuestra sociedad para su postulación como miembro activo son dictados por la Universidad Central de Venezuela y Universidad del Zulia. <br><br> La formación del especialista en cirugía Bucal y Buco-Maxilofacial y su
                    reconocimiento como tal, es regulada y avalada por el Colegio de Odontólogos de Venezuela, la Sociedad Venezolana de Cirugía Buco-Maxilofacial, Ministerio para el Poder Popular de la Educación, Ministerio para Poder Popular para la
                    Salud. <i>(Reglamento de la Especialidad de Cirugía Bucal y Maxilofacial de la Sociedad Venezolana de Cirugía Buco-Maxilofacial - SVCBMF, 2014).</i>
                    <br><br> El profesional entrenado en la especialidad forma parte del cuadro de especialidades quirúrgicas hospitalarias en los cuales actúa, como pieza importante en la atención del paciente traumatizado, tanto de forma individual
                    como en conjunto con otras especialidades clínicas y quirúrgicas en equipo y como parte de la filosofía contemporánea de trabajo multidisciplinario (Cirugía Plástica y Reconstructiva, ORL, Neurocirugía, Traumatología, Medicina Interna,
                    entre otros.)</p>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div> <br><br>

<div class="clear"></div> <br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Compromiso Social y el Rol de nuestros miembros de la Sociedad Venezolana de Cirugía Buco-maxilofacial.</h2> <br><br>
                <p>El Grupo de Cirujanos Bucales y Buco-Maxilofaciales que conforman los miembros activos de nuestra sociedad, venimos delineando una estrategia de proyección de la especialidad dentro del marco de nuestros fundamentos institucionales que
                    nos rigen a todos.
                    <br><br> Como especialidad quirúrgica, los miembros venimos desarrollando actividades de apoyo en diferentes instituciones publicas y filantrópicas de nuestra ciudad, así como campañas en el interior del país, con la finalidad de poder
                    ofrecer tratamientos a poblaciones que se les dificulta al acceso a los servicios de salud y/o que no pueden acceder a un tratamiento de patologías en la región de la cara desde la atención de un porcentaje constante en nuestras consultas
                    de pacientes referidos hasta la realización de campañas quirúrgicas (campañas de labio y paladar hendido entre otras).
                </p>
            </div>
        </div>
    </div>
</section>