<div class="grupo caja fr-view mt-1" *ngFor=" let documento of documentos ">

    <a href="{{documento.archivo}}" target="_blank">
        <div class="grupo cancion ">
            <img src="assets/img/pdf-icon.png" alt="">
            <div class="caja ">
                <h3 class="cancion__titulo">
                    {{documento.titulo}}
                </h3>
            </div>
            <div class="caja ">
                <div class="cancion__opciones">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </a>
    <div class="clea"></div><br>

</div>
<!--Including the pagination control.>
<div class="row mt-4 mb-4">
    <div class="text-center">
                    <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
</div-->