<div class="clear"></div>
<section class="topes" id="libreria">
    <div class="container">
        <h1 class="up">Revista</h1>
    </div>
</section>

<section class="main" style="margin-top:-20px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Le invitamos a disfrutar el contenido de nuestra Revista Venezolana de Cirugía Buco-Maxilofacial</h5>
                <p> con reportajes desarrollados por los mejores especialistas nacionales e internacionales. Avances científicos, nuevas tecnologías, casos de estudio y muchos más, temas de interés tanto para la comunidad científica y educativa, como para
                    el público en general.</p>
            </div>
        </div>
        <br><br>

        <div class="grupo caja fr-view mt-1" *ngFor=" let revista of revistas  | paginate: { itemsPerPage: count, currentPage: p }">

            <a href="{{revista.archivo}}" target="_blank">
                <div class="grupo cancion ">
                    <img src="assets/img/pdf-icon.png" alt="">
                    <div class="caja ">
                        <h3 class="cancion__titulo">
                            Volumen: {{revista.volumen}} | Numero:{{revista.numero}} | Fecha: {{revista.fecha}}
                        </h3>
                    </div>
                    <div class="caja ">
                        <div class="cancion__opciones">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </a>
            <div class="clea"></div><br>

        </div>
        <!--Including the pagination control.-->
        <div class="row mt-4 mb-4">
            <div class="text-center">
                <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</section>