<section class="topes" id="nos">
    <div class="container">
        <h1 class="up">Reseña historica</h1>
    </div>
</section>
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h5>“Un animoso grupo de colegas, jóvenes para ese entonces, concibieron la idea de hermanar a un grupo profesional, a colegas animados de la misma vocación por el arte quirúrgico”.
                </h5>
                <br><br>
            </div>
            <div class="col-12 col-sm-6">

                <h3>(Acta Odontológica Venezolana, Año 16. N°1 Enero-Abril, 1.978, Raúl García Arocha, palabras pronunciadas en el acto inaugural del Primer Congreso Internacional de Cirugía Bucal 1.977).
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>En tiempos de dictadura militar, bajo la influencia del general Marcos Pérez Jiménez, comenzó la lucha contra la universidad, ya que era el único reducto del país donde todavía había cierta libertad y donde se criticaba al gobierno, fue
                    así como le pusieron la vista a la universidad para tratar de eliminar la autonomía y ponerla bajo control directo del Estado. En 1951 se intervino la universidad y se instaló frente a ello un Consejo de Reforma. Empezaron a luchar
                    contra profesores y estudiantes que querían mantener la autonomía. Un grupo grande de profesores que fue articulado por la Organización de Docentes Universitarios (ODU) presidida por el Dr. Foción Febres Cordero firmaron una carta
                    exigiendo el restablecimiento de la autonomía, de no cumplirse se retirarían de sus cargos. (Boletín del archivo histórico, UCV, tomo I, 1988:280). Fue así, como en marzo de 1952, varios profesores universitarios son destituídos de
                    sus cargos por defender la autonomía. Quedando las aulas de la universidad casi vacías.</p>
                <br>
                <p>Es así, como la Sociedad nace en Caracas, a raíz de la inquietud de un grupo de profesionales de la odontología, odontólogos generales y odontólogos de otras especialidades, así como también de un grupo de cirujanos profesores de la Cátedra
                    de Cirugía Estomatológica de la Facultad de Odontología de la Universidad Central Venezuela, este grupo de colegas insatisfecho por el aula vacía y su deseo de constituir ágora científica para la tertulia útil deciden constituír la
                    Sociedad Venezolana de Cirugía Bucal. Este grupo estuvo liderizado por el Dr. Raúl García Arocha, doctor en Cirugía Dental (1938-1940) en la Universidad de North-Westhern, Chicago, Illinois USA, quien fuera profesor de la Cátedra de
                    Cirugía Estomatológica de la Facultad de Odontología de la UCV, así como su fundador y el Dr. José Barros Saint-Pasteur, médico y odontólogo, con entrenamiento en oncología de cabeza y cuello, también profesor de la universidad y jefe
                    de Servicio de Odontología y Cirugía Plástica del Hospital de la Cruz Roja de Venezuela, que también fungía de centro de atención de pacientes y desarrollo académico de la Cirugía Bucal y Maxilofacial.</p>
                <br>

            </div>
            <div class="cle"></div> <br>
            <div class="col-12 col-sm-6">
                <p>Así, se concibe una agrupación profesional y científica que acoge a los profesionales de la Odontología cuya afinidad por esta disciplina era evidente, esta idea se consolida en Caracas el primero de agosto de 1.957 cuando se constituye
                    formalmente como la Sociedad Venezolana de Cirugía Bucal, con la firma del acta constitutiva. Es la primera Sociedad Científica Odontológica especializada que quedó registrada en el Colegio de Odontólogos de Venezuela. (Acta Odontológica
                    Venezolana, año 16, nr. 1, enero-abril de 1978).</p>


            </div>
            <div class="col-12 col-sm-6">

                <p>Según consta en acta de constitución: “En Caracas, el día primero de agosto de mil novecientos cincuenta y siete (1.957), se reunieron en el auditorium del Colegio de Odontólogos de Venezuela varios profesionales de la Odontología interesados
                    en el estudio de la Cirugía Estomatológica, con el objeto de constituir la Sociedad Venezolana de Cirugía Bucal, agrupación científica que tiene por objeto el estudio, incremento y progreso de la Cirugía Bucal en nuestro país. Primera
                    Sociedad Científica Odontológica del país.</p>


            </div>

        </div>

    </div>
</section>
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <h5 class="col-12">Fue designada la Junta Directiva electa por unanimidad de la siguiente forma:</h5>
            <div class="clear"></div> <br><br>
            <div class="container pt-2 pb-2">
                <ul class="col-12 col-sm-6">
                    <li> Dr. Raúl García Arocha. (Presidente).</li>
                    <li>Dr. Gustavo Cotton. (Vice-Presidente).</li>
                    <li>Dr. José Barros Saint Pasteur. (Secretario General).</li>
                    <li>Dr. Randolfo Villalobos. (Tesorero).</li>
                    <li>Dr. Argimiro Gandica. (Bibliotecario).</li>
                </ul>
            </div>
            <div class="clear"></div> <br><br><br><br>
            <h5 class="col-12">Y firmaron como miembros fundadores del Acta Constitutiva, los Doctores: </h5>
        </div>
    </div>
</section>
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-6">
                <ul>
                    <li>Raúl Garcia-Arocha </li>
                    <li>José Barros Saint Pasteur</li>
                    <li>Gustavo Cotton </li>
                    <li>Randolfo Villalobos </li>
                    <li>Argimiro Gandica</li>
                    <li>Luisa Romero De Johnston</li>
                    <li>Carlos Alvarez Navarro</li>
                    <li>Juan Manuel Lyon</li>
                    <li>Arnaldo Rojas</li>
                    <li>Carlos León Díaz</li>
                    <li>Carmen Hernández de Romero</li>
                    <li>Jesús Ruperto Romero Guzmán</li>
                    <li>Castor Velásquez</li>
                    <li>Víctor Rodríguez Urdaneta</li>
                    <li>Abraham Zurita Medina</li>
                    <li>José Manuel Landaeta Rodríguez </li>
                    <li>Henning Gómez</li>
                    <li>Rafael Lozada </li>
                    <li>Hugo Matamoros</li>
                    <li>Pedro Cesar Briceño</li>
                </ul>
            </div>
            <div class="col-12 col-sm-6">
                <ul>
                    <li>Joffre Jombert</li>
                    <li>Jose A Lugo Montero </li>
                    <li>Dimas Zurita Medina</li>
                    <li>José Manuel Morey Rivas</li>
                    <li>Celestino Parejo Gómez</li>
                    <li>A Arias Mejias</li>
                    <li>Rogelio Girón</li>
                    <li>A Gómez Rodríguez</li>
                    <li>W La Grave Marín</li>
                    <li>Ramón Meza</li>
                    <li>José Luis Blanco Castillo</li>
                    <li>José Antonio Pedrozo Urribarry </li>
                    <li>Cesar A. Hernández Guzmán</li>
                    <li>J. M Rodríguez Girón</li>
                    <li>A Torres Partidas</li>
                    <li>H Cancino Sabogal</li>
                    <li>Ricardo Semprúm</li>
                    <li>Troconis Jacobo</li>
                    <li>Villalobos Capriles</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Es importante hacer mención en sus inicios, al Dr. Gustavo Cotton, con el mérito histórico de haber sido el iniciador de la Cirugía Bucal en Venezuela. Fue él, quien de manera reglamentada practicó las primeras intervenciones quirúrgicas
                    de nuestra especialidad, apegado a los principios y normas técnicas del arte quirúrgico, permitiendo abrir el camino que otros han seguido.</p><br>
                <p>Los Dres. Gustavo Cotton y Raúl García Arocha son considerados los pioneros de la Cirugía Bucal en Venezuela.</p>
            </div>
        </div>
    </div>


</section>
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-6">
                <p><b>En 1.959 se celebra el primer Congreso Venezolano de Cirugía Bucal,</b> con sede en la Facultad de Odontología de la Universidad Central de Venezuela, a través de cuyo circuito cerrado de televisión se efectuaron las primeras demostraciones
                    quirúrgicas televisadas que tenían lugar en el país. Organizador y presidente del Congreso fue el Dr. Raúl García Arocha. Asistieron como conferencistas el Dr. Harry M. Seldin eminente cirujano norteamericano, quien realizó las demostraciones
                    quirúrgicas televisadas; el Argentino Dr. Guillermo Ries Centeno. De la Universidad Autónoma de Colombia el Dr. Rafael Torres Pinzón; de la Sociedad Paraguaya de Cirugía Bucal, el Dr. Antonio Pangrazio. (Acta Odontológica Venezolana,
                    Año 16. N°1 Enero-Abril, 1.978, Raúl García Arocha, palabras pronunciadas en el acto inaugural del Primer Congreso Internacional de Cirugía Bucal 1.977).<br><br>
                </p>
            </div>

            <div class="col-12 col-sm-6">
                <p><b>En 1.967, se realiza el II Congreso Latinoamericano de Cirugía Bucal (ALACIBU),</b> con sede en Caracas-Venezuela. Caracas es la sede de este magno evento, en las instalaciones de la Facultad de Odontología, contando con la presencia
                    de los más importantes cirujanos de Latinoamérica, además de los Dres. Víctor Manuel de Sada (España) y Harry Seldin (Estados Unidos), organizada y presidida por el Dr. José Barros Saint-Pasteur. Se fundan los lazos de amistad entre
                    Guillermo Ries Centeno (Argentina), Enrique Muller (Alemano-Argentino), Basilio Arienza (Argentina), Eugenio Borello (Argentina), Mario Graziani (Brazil), Antonio Pangrazio (Paraguay), Alberto Campos (Colombia), De Vecchi (Uruguay).

                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    <b>En 1.977</b>, en conmemoración del vigésimo aniversario de la fundación de la Sociedad se llevó a cabo el <b>Primer Congreso Internacional de Cirugía Bucal</b>, organizado y presidido por el Dr. Raúl García Arocha, realizado entre
                    el 31 de julio y el 4 de agosto de 1.977 en el Parque Central de Caracas, asistieron 400 delegados entre nacionales y extranjeros, tanto de América Latina como del Norte y Europa. Donde se trató entre otros temas, la formación académica
                    del cirujano bucal y la existencia o carencia de los Servicios de Cirugía Bucal en los institutos de asistencia hospitalaria de los países representados en el Congreso. Desafortunadamente, quedó evidenciado ante propios y extraños,
                    que nada tenía que ofrecer Venezuela en ese campo. Nuestros cirujanos bucales se habían formado en el exterior, no existían cursos de Postgrado de nivel universitario y en nuestros hospitales, con alguna excepción, tampoco existían
                    Servicios de Cirugía Bucal, concebidos dentro de la tecnología moderna hospitalaria, para atender la amplia gama nosológica que comprende dicha especialidad. Y es aquí, que nace la iniciativa del Dr. García Arocha, desde la Universidad
                    Central de Venezuela, en enero del 79, de iniciar un Programa de Entrenamiento en Cirugía Bucal por 2 años, a nivel académico universitario, en Venezuela, dentro de las instalaciones de la Facultad y con concurso del Seguro Social
                    para atender a los pacientes asegurados entre otros. Con un programa de cirugía dentoalveolar, y una importante carga teórica dirigida a la obtención de la Maestría en Cirugía Bucal (Acta Odontológica Venezolana Año 19-Nos. 1-2- Enero-Abril
                    - Mayo-Agosto 1981, Palabras del Dr. Raúl García Arocha, en la reinaguración del Servicio de Cirugía Bucomaxilofacial del Seguro Social, en la Facultad de Odontología de la UCV).
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>
                    Sin embargo, años antes, la Dra. Luisa Romero Johnston se constituye como la primera residente odontólogo del Servicio de Cirugía Plástica del Hospital Vargas, que posteriormente le acreditará el primer título de Cirujano Maxilofacial otorgado en Venezuela.
                </p>
                <br>
                <p><b>En enero de 1.972</b> se inaugura la Unidad de Rehabilitación Maxilofacial (UNIRMA) abriendo las puertas de la primera residencia docente en Cirugía Buco-maxilofacial en el país, en el hospital Vargas, graduando a tres residentes (Dr.
                    Alberto Lander, Dr. Ecio Picón y el Dr. Barnabás Macsotay).</p>

            </div>
            <div class="col-12 col-sm-6">

                <p>
                    <b>El 19 de agosto de 1.974</b> bajo la Presidencia del Dr. Miguel Elías Cuberos, es protocolizada y registrada el Acta Constitutiva ante la oficina subalterna del tercer circuito de registro del departamento Libertador del Departamento
                    Federal, bajo el numero 33, folio 154, protocolo 1ero., tomo 5.
                </p>

            </div>

        </div>
    </div>
</section>

<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <p><b>El 10 de agosto de 1.979,</b> en la Asamblea General Extraordinaria celebrada en la Ciudad de Barquisimeto, estado Lara, con la asistencia de los odontólogos Dr. Pablo Sisirucá Quintero; Dr. Alberto Lander H; Dr. Olaf Sander; Dra. Luisa
                    Romero de Johnston; Dr. Randolfo Villalobos; Dr. Fulvio Pallota; Dr. Juan Zambrano; Dr. Ricardo Semprún y el Dr. Omar Cohen, se aprobó cambiar el nombre a la Sociedad Venezolana de Cirugía Bucal, por el actual nombre, Sociedad Venezolana
                    de Cirugía Buco-Maxilofacial; cuya acta fue registrada en la Notaria Primera del Distrito Sucre del Estado Miranda, por el presidente para ese Momento el Dr. Pablo Sisirucá. Ese mismo año de 1.979 se presentó a la Sociedad Venezolana
                    de Cirugía Buco-Maxilofacial en el Congreso Latinoaméricano de Cirugía Buco-Maxilofacial (ALACIBU) en la ciudad de Tegucigalpa, Honduras. El avance de la organización ha estado signado por el entusiasmo, el estudio sostenido y una
                    ambiciosa visión de futuro. Diversidad de actividades científicas, así como la participación en importantes decisiones en la vida de la odontología venezolana, han constituído parte de la tarea de la Sociedad, lo que además le ha significado
                    una importante proyección internacional.
                </p>
            </div>

        </div>
    </div>
</section>
<div class="clear"></div>

<section class="quebaria mt-5" style="background-image:url(assets/img/consultorio3.jpg);">
    <div class="container">
        <div class="row">
            <div class=" col-12 col-sm-8 pt-5 ">
                <h4>“NO HAY EMPRESA QUE SEA EL PRODUCTO DE UNA SOLA VOLUNTAD. GENERALMENTE, ESTAN PRESENTES OTRAS VOLUNTADES Y SENTIMIENTOS SOLIDARIOS”.</h4>
                <p>(Acta Odontológica Venezolana Año 19-Nos. 1-2-Enero-Abril-Mayo-Agosto 1981, Palabras del Dr. Raúl García Arocha, en la reinaguración del Servicio de Cirugía Bucomaxilofacial del Seguro Social, en la Facultad de Odontología de la UCV.).</p>

            </div>
            <br><br>
            <div class=" col-12 col-sm-4  ">
                <img src="assets/img/acta.png" style="z-index: 999999; position: relative;">

            </div>
        </div>
    </div>

</section>

<div class="clear"></div>