<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">Solvencias</h1>
    </div>
</section>
<div class="clear"></div>
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6  ">
                <p>El pago oportuno de las cuotas de inscripción, anuales y extraordinarias nos permite dar continuidad no solo a la gestión operativa e nuestra Sociedad como institución, sino también a todos los proyectos y programas que incluyen educación
                    continua, campañas de difusión, mejoramiento profesional, responsabilidad social y, por supuesto, nuestros congresos.<br><br> Los pagos se realizan mediante transferencia bancaria a la cuenta de la SVCBMF, previo contacto a la tesoreria
                    de la sociedad por los correos: <a href="mailto:tesoreriaSVCBMF@gmail.com" target="_blank">tesoreriaSVCBMF@gmail.com</a> y <a href="mailto:SVCBMF@gmail.com" target="_blank">SVCBMF@gmail.com</a></p>

            </div>

            <div class="col-sm-6 ">
                <p>Una vez realizado tu pago, es indispensable enviar comprobante de la transferencia y tus datos completos al correo electrónico <a href="mailto:tesoreriaSVCBMF@gmail.com" target="_blank">tesoreriaSVCBMF@gmail.com</a>. <br><br> Recomendamos
                    mantenerse atentos a las redes sociales de la SVCBMF a fin de estar al tanto acerca de promociones especiales y cambios en el monto de la anualidad. <br><br> Estar solvente como miembro, te permite acceder a una seria de beneficios
                    institucionales, descuentos y programas de alianzas estratégicas con empresas, prestadores de servicios y programas sociales.
                </p>

            </div>

        </div>
        <div class="clear"></div> <br><br>
        <div class="col-12 text-center">
            <p>En caso de dudas o para consultas acerca de tu estado de cuentas, puedes <a href="contacto">contactarnos</a>
            </p>

        </div>

    </div>
</section>

<section style="background-color:#774477;padding-top:40px; padding-bottom:40px;">

    <h4 style="color:#fff; text-align: center;">Banco Provincial<br> Cuenta No. 0108 0503 100 1000 89 682 <br> Rif J 00263611-4<br> Correo electrónico tesoreriasvcbmf@gmail.com</h4>

</section>