<div class="clear"></div>
<section class="topes" id="nos">
    <div class="container">
        <h1 class="up">Breve descripción</h1>
    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>A lo largo de sus sesenta años de existencia, la Sociedad Venezolana de Cirugía Bucomaxilofacial se ha establecido como la agrupación científica dedicada a promover y estimular el desarrollo de esta especialidad odontológica en el país,
                    bajo los más elevados parámetros de la acuciosidad científica, educativa y principios éticos.</p> <br><br>

                <h3 class="text-center">La misma está integrada por Odontólogos especialistas en Cirugía Bucal o Bucomaxilofacial y sus principales funciones son:</h3>

            </div>
        </div>

    </div>
</section>
<section class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <ul>
                    <li>Promover los más altos niveles técnicos y científicos de la Cirugía Bucal y Bucomaxilofacial en Venezuela
                    </li><br>
                    <li>Auspiciar la investigación en el campo de la Cirugía Bucal y Bucomaxilofacial e incrementar la difusión de tales especialidades en el país</li><br>
                    <li>Divulgar información científica de manera continua entre los Miembros de la Sociedad y cualquier otra persona o entidad pública o privada interesada en este campo</li><br>
                    <li>Estimular el intercambio de conocimientos entre sus Miembros mediante la organización de encuentros científicos y el establecimiento de comunicación e intercambios con otras sociedades científicas afines, tanto nacionales como extranjeras</li>
                </ul>
            </div>
            <div class="col-12 col-sm-6">
                <ul>

                    <li>Velar por el mantenimiento de los principios éticos en el ejercicio profesional de sus Miembros, de conformidad con el código de Deontología Odontológica vigente</li><br>
                    <li>Asistir a sus Miembros en situaciones de carácter profesional que pudiesen requerirlo de acuerdo con lo establecido en los estatutos de la Sociedad, y realizar todas las actividades que contribuyan y aporten para alcanzar el objetivo
                        para el cual se constituyó esta Sociedad</li>
                </ul>
            </div>
        </div>

    </div>
</section>