<div id="mycarr" class="carousel slide slide1 carousel-fade carrhome">
    <div class="carousel-inner">
        <div class="item active">
            <div class="BannPpal3 BannPpal sli header" id="sli2" style="background-image:url(./assets/img/upload/blog/966331.jpg)">
                <div class="container">
                    <div class="textos">
                        <h3 class="Up">Bienvenido al Portal Educativo de SVCBMF. </h3>
                        <p class="Up">Conozca el nuevo site</p>
                        <a href="/bienvenido"><button class="btn btn-info">Instrucciones</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mycarr" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mycarr" data-slide="next">
        <span class="icon-next"></span>
    </a>

</div>