<div class="card-body">
    <div class="sl-item">
        <div class="sl-right">
            <div> <a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                <div class="m-t-20 row">
                    <div class="col-md-3 col-xs-12"><img src="assets/img/big/img1.jpg" alt="user" class="img-responsive radius"></div>
                    <div class="col-md-9 col-xs-12">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success"> Design weblayout</a></div>
                </div>
                <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="sl-item">
        <div class="sl-right">
            <div><a href="#" class="link">SVCBMF</a> <span class="sl-date"> 5 minutes ago</span>
                <p>Video desde Facebook <a href="#"> Prueba</a></p>
                <div class="row">
                    <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=100%&show_text=false&appId=1220443371425206&height=280" width="100%" height="280" style="border:none;overflow:hidden"
                        scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
                </div>
                <div class="like-comm mt-1">
                    <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 </a>
                    <a href="javascript:void(0)" class="link m-r-10"> <i class="fa fa-share text-success"></i> Compartir</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="sl-item">
        <div class="sl-right">
            <div> <a href="#" class="link">SVCBMF</a> <span class="sl-date"> 5 minutes ago</span>
                <p>Video desde Youtube <a href="#"> Prueba</a></p>
                <div class="m-t-20 row">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/j1TXbN_nAVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
                <div class="like-comm mt-1">
                    <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart-o "></i> 5 </a>
                    <a href="javascript:void(0)" class="link m-r-10"> <i class="fa fa-share text-success"></i> Compartir</a>
                </div>
            </div>
        </div>
    </div>

</div>