<section class="topes topescongreso">
    <div class="container">
        <h1 class="animated fadeInUp">Congreso <b style="font-size: 60px;">2020</b></h1>
        <h3 class="animated fadeInleft"> 2 - 3 - 4 de Julio</h3>
    </div>
</section>



<section class="pt-5 pb-5  homecongress" id="continuar">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 ">
                <p>Superando las adversidades, con resiliencia y creyendo que con pasión, trabajo arduo y fomentando valores construiremos esa Venezuela que soñamos, nuestra <b> Sociedad Venezolana de Cirugía Buco-Maxilofacial </b>realizará entre los días
                </p>
                <br>
                <h6>2 al 4 de Julio de 2020 <br>en el Hotel Eurobuilding Caracas</h6>
                <h1>XXIX Congreso Venezolano de Cirugía Buco-Maxilofacial.</h1>
            </div>
            <div class="col-12 col-sm-6 ">
                <p> Nuestro magno encuentro científico y el mas importante de nuestras especialidades en el país, el cual será el epicentro nacional para el encuentro entre pares, estudiantes y profesionales conexos, con un enfoque de trabajo en equipo, de
                    visión muldisciplinaria y en pro de la evidencia científica, con actividades académicas enfocadas al especialista, al profesional junior y al estudiante, dentro de una temática especifica y de alto nivel, con una metrología innovadora
                    que se basara en el intercambio científico entre colegas en simposios, mesas clínicas, discusiones de casos, análisis de complicaciones, paneles de discusión, crosffire dentro del marco de la “ De la Experiencia Clínica a la Cirugía
                    Basada en la Evidencia”
                </p>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="pt-5 pb-5 badge-sociedad">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8">
                <br><br>
                <p>La implementación del análisis, planificacion 3D y navegación. Las Complicaciones en los diferentes campos de la Cirugía. Las nuevas tecnologías y la ingeniería biomédica serán junto al análisis de las realidades en torno a la especialidad,
                    la medicina y odontología y su epidemiología y políticas en el entorno actual, en las diferentes ciudades y regiones de Venezuela serán los pilares angulares en los cuales desarrollaremos este magno evento.
                </p>
                <br><br>
                <p>Ven a vivir esta experiencia interactiva, de intercambio a todo nivel sea cual sea tu especialidad o interés clínico y científico, en torno a la cirugía bucal y buco-maxilofacial en sus diferentes áreas de actuación e interrelación en
                    pro de nuestros principales objetivos como actores en el área de la salud: El bienestar del paciente y el avance de la ciencia en nuestro país.


                </p>
                <br><br>
                <h4>Te esperamos!</h4>

                <h5>Dr. Paul Maurette O’Brien. Msc, PhD</h5>
                <p>Presidente de la Sociedad Venezolana de Cirugía Buco-Maxilofacial </p>
                <br><br>
            </div>
            <div class="col-12 col-sm-4">

                <img src="assets/img/personal/paul-maurette.jpg" class="shadow" alt="paul paurette">
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5 badge-light">
    <div class="container text-center">
        <h1 style="font-size: 60px; font-weight:900;">Desde ya! </h1>
        <h2>Aparta la fecha y acompañanos que este año, serás tú el protagonista.</h2>
        <h5>#congresomaxilo2020</h5>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                <img src="assets/img/congreso/adult-doctors-gloves-health-263337.jpg" class="shadow" style="height: 70vh; margin-bottom: 20px;" alt="">
            </div>
            <br><br>
            <div class="col-12 col-sm-8">
                <h3>Nuestra Filosofía, Nuestro Equipo de Trabajo</h3><br><br>
                <h5>¡Estamos Trabajando arduamente de manera proactiva con una filosofía de teamwork para lograr el éxito de nuestro magno evento, con un enfoque corporativo e institucional y con sinergia en el liderazgo como clave del éxito!
                </h5><br><br>
                <hr>
                <div class="row listacongres">
                    <ul class="col-12 col-sm-12 col-md-6">
                        <li>
                            <img src="assets/img/personal/Henry-Garcia.jpg" class="img-thumbnail" alt="">
                            <b>Tesorería y Administración:</b><br> Team Lider Dr. Henry García <br>
                            <a href="mailto:inscripciones@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>inscripciones@congresobucomaxilofacial.com</a>
                        </li>
                        <div class="clear"></div>
                        <li>
                            <img src="assets/img/personal/hans-cordsen.jpg" class="img-thumbnail" alt="">
                            <b>Secretaria, Inscripciones, relaciones institucionales:</b> Team Lider Dr. Hans Cordsen<br>
                            <a href="mailto:secretaria@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>secretaria@congresobucomaxilofacial.com</a>
                        </li>
                        <div class="clear"></div>
                        <li>
                            <img src="assets/img/personal/paul-maurette.jpg" class="img-thumbnail" alt="">
                            <b>Programa Científico y Desarrollo de Actividades:</b><br> Team Lider Dr. Paul Maurette <br>
                            <a href="mailto:presidencia@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>presidencia@congresobucomaxilofacial.com</a>
                        </li>
                        <div class="clear"></div>
                        <li>
                            <img src="assets/img/congreso/gustavo-bustamante.jpg" class="img-thumbnail" alt="">
                            <b>Comunicaciones, Redes Sociales:</b><br> Team Lider Dr. Gustavo Bustamamante<br>
                            <a href="mailto:redes@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>redes@congresobucomaxilofacial.com</a>
                        </li>
                        <div class="clear"></div>
                        <li>
                            <img src="assets/img/personal/paolo-verona.jpg" class="img-thumbnail" alt="">
                            <b>Encuentro de Residentes y Actividades:</b> <br>Team Lider Dr. Paolo Verona<br>
                            <a href="mailto:residentes@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>residentes@congresobucomaxilofacial.com</a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                    <ul class="col-12 col-sm-12 col-md-6">


                        <li>
                            <img src="assets/img/personal/Jose-Luis-Castro.jpg" class="img-thumbnail" alt="">
                            <b>Lecturas Cortas Expertos miembros SVCMF:</b> <br>Team Lider Dr. Jose Luis Castro<br>
                            <a href="mailto:conferencias@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>conferencias@congresobucomaxilofacial.com</a>
                        </li>
                        <div class="clear"></div>
                        <li>
                            <img src="assets/img/personal/dubines-ramirez.jpg" class="img-thumbnail" alt="">
                            <b>Actividades Conexas:</b><br> Team Lider Dr. Dubines Ramírez <br>
                            <a href="mailto:svcbmftaskforce@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>svcbmftaskforce@congresobucomaxilofacial.com</a>
                        </li>
                        <div class="clear"></div>
                        <li>
                            <img src="assets/img/congreso/orlando-reyes.jpg" class="img-thumbnail" alt="">
                            <b>Relación con la industria, casas comerciales:</b> <br>Team Lider Dr. Orlando Reyes<br>
                            <a href="mailto:comercializacion@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>comercializacion@congresobucomaxilofacial.com</a>

                        </li>

                        <div class="clear"></div>
                        <li>
                            <img src="assets/img/congreso/marvis-allais.jpg" class="img-thumbnail" alt="">
                            <b>Comisión Cientifica, Trabajos Cientificos:</b> <br>Team Lider Dra. Marvis Allais<br>
                            <a href="mailto:trabajoscientificos@congresobucomaxilofacial.com" target="_blank" rel="noopener noreferrer" style='font-size:12px;'>trabajoscientificos@congresobucomaxilofacial.com</a>
                        </li>

                    </ul>
                </div>
                <hr>
                <p>Asi mismo dentro de estas grandes áreas de trabajo y al frente de las diferentes actividades de este magno evento, están <b>un gran numero de colegas cirujanos miembros de SVCBMF, especialistas de diferentes áreas medicas y odontológicas,
                    residentes y voluntarios</b> que con pasión, trabajo desinteresado y <b>creyendo en Venezuela</b> harán junto a cada uno de los participantes, que Caracas sea el epicentro de la cirugía y en <b>este congreso nacional para venezolanos
                    y por venezolanos</b> dejando su huella en la especialidad a nivel global.
                </p>
            </div>
        </div>
    </div>
</section>







<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                <ngb-carousel *ngIf="images" class="slider">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/caracas1.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/caracas2.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/caracas3.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/caracas4.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/caracas5.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/caracas6.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>

                </ngb-carousel>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <h5>Sede del Evento </h5>
                <h1>Caracas – La Sultana del Avila
                </h1>
                <p>Situada dentro de un valle montañoso en la zona centro-norte costera del país se encuentra Caracas, ciudad capital y principal centro administrativo, financiero, político, comercial y cultural de Venezuela. Fundada con el nombre de Santiago
                    de León de Caracas, fue colonizada por los españoles en el siglo XV, es una urbe que cuenta su historia a través de sus edificaciones, donde destacan monumentos de la época colonial que se conservan a pesar del paso del tiempo. La
                    capital de Venezuela es una moderna metrópoli con un sin numero de opciones gastronómicas, de entretenimiento y diversión, a solo 20 minutos del mar caribe, con un clima constante que ronda los 23 grados centígrados durante todo el
                    año, a las faldas del Parque nacional Waraira Repano, enclavada en el Valle de Caracas, lo cual la hace una de las ciudades mas cosmopolitas y una de las metrópolis mas importantes de América Latina.
                </p>
                <br><br>

            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-8">
                <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/eurobuilding1.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/eurobuilding2.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/eurobuilding3.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/eurobuilding4.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="assets/img/congreso/eurobuilding5.jpg" alt="congreso SVCBMF 2020 Eurobuilding caracas ">
                        </div>
                    </ng-template>

                </ngb-carousel>
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <h2>Hotel Eurobuilding Caracas</h2>
                <p>Con más de veinte años de experiencia en el servicio cinco estrellas, le ofrecemos a nuestros clientes y huéspedes la mejor atención personalizada. <br><br> 617 modernas Habitaciones y Suites, divididas en cinco servicios: First Class,
                    Business Class, Business Woman, Deluxe y Standard.</p>
            </div>


        </div>
        <br><br>
        <hr>
        <br><br>
        <h3>Disfrute Con Su Estadía</h3><br><br>
        <div class="row">
            <ul class='col-12 col-sm-6 pl-5'>
                <li>Business Center</li>
                <li>Amplia galería comercial, incluye agencias de viajes, líneas áreas y alquiler de carros</li>
                <li>17 salones para eventos sociales y corporativos</li>
                <li>Centro de Convenciones con capacidad máxima de 3.000 personas</li>
                <li>Estacionamiento techado y valet parking</li>
                <li>Gimnasio con vista panorámica al Parque Nacional Waraira Repano</li>
                <li>Spa y sauna</li>
                <li>Jacuzzis</li>
            </ul>
            <ul class='col-12 col-sm-6 pl-5'>
                <li>Piscina climatizada para adultos y niños</li>
                <li>Cancha de tenis</li>
                <li>4 restaurantes con menús de gastronomía internacional</li>
                <li>Room Service 24 horas</li>
                <li>Lobby Bar</li>
                <li>Conexión a Internet</li>
                <li>Peluquería y Barbería
                </li>
            </ul>
        </div>
    </div>
</section>
<br><br>
<section class="badge-sociedad pt-5 pb-5">
    <div class="container">
        <div class="row">

            <h2 class=" col-12 text-warning" style="text-align: center;">La Sede del XXIX Congreso Venezolano de Cirugía Buco-Maxilofacial </h2>
            <h5 class="text-light col-12" style="text-align: center;"><br><br> Ubicado en el área de recreación, es el espacio de reuniones más grande del <br> <span style="font-size: 30px;" class="text-warning">Eurobuilding Hotel & Suites Caracas,</span> <br> de piso alfombrado, es ideal para eventos de grandes
                dimensiones <br>gracias a su superficie de 1.915 metros cuadrados con una altura de 7 metros, <br> que permite una capacidad máxima de 3.000 personas.
            </h5>
        </div>
    </div>
</section>
<section class="badge-light pt-5 pb-5 temas">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Temas y Filosofía de Nuestro Congreso</h1>
            </div>
            <div class="clear"></div>
            <br><br><br><br>
            <div class="col-12 col-sm-4">
                <img src="assets/img/congreso/318574.jpg" class="img-responsive shadow" alt="">
                <ul class=" pt-3 col-12">

                    <li>Encuentro Latinoamericano de Resientes de Cirugía. ALACIBU – SVCBMF</li>

                    <li>Conferencias Magistrales de Apertura del Evento</li>

                    <li>Avances y Controversias en Implantología: De la Experiencia Clínica la Practica Basada en la Evidencia</li>

                    <li>Complicaciones en Cirugía Ortognática: De la Experiencia a la Cirugía Basada en la Evidencia</li>
                </ul>
            </div>
            <div class="col-12 col-sm-4">
                <img src="assets/img/congreso/548303.jpg" class="img-responsive shadow" alt="">
                <ul class=" pt-3 col-12">

                    <li>Manejo del Dolor Orofacial y las Patologías Articulares: De la Experiencia a la Evidencia</li>

                    <li>¡ESE CASO QUE NO ME DEJO DORMIR!, COMO LOGRE RESOLVERLO Y CONCILIAR EL SUEÑO!</li>

                    <li>Complicaciones en Cirugía Dentoalveolar: De la Experiencia a la Odontología Basada en la Evidencia</li>

                    <li>LECTURAS CORTAS DE EXPERTOS: Miembros de la SVCBMF y Especialistas Conexos</li>


                </ul>
            </div>
            <div class="col-12 col-sm-4">
                <img src="assets/img/congreso/977908.jpg" class="img-responsive shadow" alt="">
                <ul class=" pt-3 col-12">

                    <li>La Especialidad en el Contexto de Venezuela: Análisis de la epidemiologia y del Abordaje de los problemas de salud publica abordados por nuestras especialidades.</li>

                    <li>Complicaciones y Controversias en Trauma Buco-Maxilofacial: De la Experiencia a la Evidencia</li>

                    <li>Manejo de las Complicaciones periodontales / quirúrgicas y protésicas en Implantología
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5 badge-sociedad2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 ">
                <h5 class="text-warning">Simposios Interdiciplinarios. </h5>
                <h1 class="text-light">“El trabajo en equipo como la clave del Exito!</h1>

            </div>
            <div class="col-12 col-sm-6">
                <h5 class="text-warning">1- Patología y Reconstrucción craneomaxilofacial <br><br> 2- Síndrome de Apnea Obstructiva del Sueño<br><br> 3- Nuevas TEcnologias en el Abordaje Craneomaxilofacial
                </h5>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5 crossfire">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h1 class="text-warning"> Crossfire, Paneles de Discusión, Presentación de Casos. </h1>
                <h4 class="text-light">Como eje central con una visión multidisciplinaria e Interdisciplinaria.</h4> <br>
                <p>Actividades dirigidas a los residentes, miembros y especialistas conexos: Temas Libres, Posters, presentaciones no convencionales, mesas de discusión, paneles clínicos y mas!!
                </p>
            </div>
            <div class="col-12 col-sm-6">

            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5 badge-light">
    <div class="container text-center">
        <h1 style="font-size: 40px; font-weight:900;">Ven, participa y comparte con nosotros,
        </h1>
        <h2> hagamos un evento de Venezolanos para Venezolanos!</h2> <br><br>
        <a href="#" class="btn btn-outline-success "> <i class="fa fa-file"></i> Programa del Evento (Pdf)</a>
    </div>
</section>


<section class="pt-5 pb-5 trabajoscient">
    <div class="container">
        <h1 style="font-size: 40px; font-weight:900;">Trabajos Científicos</h1>
        <h2> Temas Libres, E-Posters, Lecturas cortas</h2>
        <div class="row">

            <div class="col-12">
                <p>A continuación, podrás descargar las bases y normativa para la presentación de E-posters y temas libres en el Congreso Venezolano de Cirugía Buco-Maxilofacial.</p>
            </div>
        </div>
        <br><br><br>

        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Recuerda que para poder ser aceptado, el presentador debe estar inscrito en el evento y para eso deberá haber realizado el pago de su inscripción, la cual será solicitada al momento de llenar el formulario de inscripción.</p>
                <p>Descargar y leer con detenimiento la siguiente información:</p><br><br>
                <a href="assets/files/normativa-para-la-presentacion-de-trabajos-version-1-congreso-SVCBMF-2020.pdf" target="_blank" class="btn btn-outline-success "> <i class="fa fa-file"></i> Normativa E-Poster (Pdf)</a><br><br>
                <a href="assets/files/ejemplo-tema-libre-y-conferencias-Congreso-SVCBMF.potx" target="_blank" class="btn btn-outline-success "> <i class="fa fa-file"></i> Ejemplo E-Poster (Power Point)</a><br><br>
                <a href="assets/files/modelo-de-Eposter-Congreso-SVCBMF.potx" target="_blank" class="btn btn-outline-success "> <i class="fa fa-file"></i> Modelo E-Poster (Power Point)</a>
                <br><br>
            </div>
            <div class="col-12 col-sm-6">
                <p>El envío de los trabajos de realizara via correo electrónico al email: <br><br> <a href="mailto:trabajoscientificos@congresobucomaxilofacial.com" target="_blank" style="font-weight: bold;">trabajoscientificos@congresobucomaxilofacial.com</a>                    <br><br>como lo describe la normativa descargada y en la cual baso su trabajo, colocando como:<br><br>
                    <b>asunto del correo</b>: (TEMALIBRE O POSTER en mayúscula), Seguido del apellido y primera Letra del nombre del presentador, seguido por una “coma” y a continuación<br>
                    <b>el nombre del trabajo</b> (sin usar caracteres especiales y seguidos de guion '-' o '_').
                </p>
                <br><br>
                <h3 class="text-light">Nos vemos en Caracas!!</h3>
            </div>
        </div>

    </div>
</section>


<section class="pt-5 pb-5 badge-light ">
    <div class="container text-center">
        <h1 style="font-size: 40px; font-weight:900;">Paquetes de Hospedaje
        </h1>
        <a href="https://www.hoteleuro.com/" target="_blank" class="btn btn-outline-success btn-lg">Visitar Hoteleuro.com</a>
    </div>
</section>

<section class="pt-5 pb-5 gastronomia">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h1>Nuestra Expo Comercial / Gastronómica y Mas!
                </h1>
                <p>Si desea recibir el Dossier Comercial por favor envíe un email a svcbmf@gmail.com con copia a al Dr. orlandoreyesr@hotmail.com
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6">
                <h2>¿Por qué ser expositor? </h2>
                <p>Por tener la oportunidad de 3 días de acceso mas de 600 participantes en su mayoría especialistas. Son tu principal cliente! Por dar presencia a su marca ya no de manera escrita si no cara a cara Por tener presencia en un encuentro científico
                    Por conseguir contactos de una audiencia interesada, relevante e influyente dentro de un entorno informal e informativo Por estar informado e identificar de las estrategias de marketing de la competencia
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <p>El eje social central de nuestro congreso seras esta vez LA EXPO COMERCIAL! No solo estarán los principales exponentes de la industria y de las casas comerciales del país y del exterior. Sera un encuentro entre colegas y la industria,
                    expocision de productos. Expo GAstronomica con Food Trucks y estaciones de alimentos y bebidas. Coffee Breaks del evento, lanzamiento de productos, Eventos sociales y de esparcimiento fuera de la programacioin academica y mas! No dejes
                    de participar! Te queremos con nosotros como parte de este exitoso evento! Hagamos Equipo!.
                </p>
            </div>
        </div>
    </div>
</section>


<div class="container sli" id="registro">
    <hr>
</div>
<app-congreso-form></app-congreso-form>
<app-modal></app-modal>