.galleryAliados {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.galleryAliados img {
    display: f;
    width: 100%;
}

.galleryAliados .aliado {
    width: 90%;
}

@media(max-width:668px) {
    .galleryAliados {
        display: grid;
        gap: 1rem;
        grid-auto-rows: auto;
        grid-template-columns: 50% 50%;
    }
    .galleryAliados img {
        display: flex;
        width: 90%;
    }
}