/** Generated @ www.fontreactor.com **/

@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), 
        url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), 
        url('../fonts/HelveticaNeueLTStd-Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'HelveticaNeueLTStd-Roman';
	src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), 
        url('../fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), 
        url('../fonts/HelveticaNeueLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'HelveticaNeueLTPro-Md';
	src: url('../fonts/HelveticaNeueLTPro-Md.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTPro-Md.woff') format('woff'), 
        url('../fonts/HelveticaNeueLTPro-Md.ttf') format('truetype'), 
        url('../fonts/HelveticaNeueLTPro-Md.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Bd';
	src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
	src: local('☺'), url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), 
        url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), 
        url('../fonts/HelveticaNeueLTStd-Bd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
