<!-- Modal -->
<div *ngFor="let doctores of doctores.doctores; let i = index">
    <div class="modal fade modalproductos" id="{{doctores.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modalserv">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body ">
                    <p><i class="fa fa-laptop"></i>{{doctores.website}}</p>
                    <p><i class="fa fa-envelope"></i>{{doctores.email}}</p>
                    <p><i class="fa fa-phone"></i>{{doctores.telefonos}}</p>
                    <p><i class="fa fa-map-marker"></i>{{doctores.estado}}</p>
                    <p><i class="fa fa-map-marker"></i>{{doctores.ciudad}}</p>
                    <p [innerHTML]="doctores.direccion | keepHtml"></p>
                    <p><i class="fa fa-facebook"></i>{{doctores.facebook}}</p>
                    <p><i class="fa fa-instagram"></i>{{doctores.instagram}}</p>
                    <p><i class="fa fa-twitter"></i>{{doctores.twitter}}</p>
                    <p><i class="fa fa-linkedin"></i>{{doctores.linkedin}}</p>
                </div>
            </div>
        </div>
    </div>
</div>