<div class="clear"></div> <br>
<div class="container">
    <div class="row">
        <div class="nopadd col-xs-12 col-sm-4 col-md-7 col-lg-8" *ngFor="let newsinstagram of newsInstagrams ">
            <div class="centradobord">
                <h1>Noticias en <i class="fa fa-instagram fa-1x" style="margin-left: 5px;"></i></h1>
            </div>

            <!-- LightWidget WIDGET -->
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="https://cdn.lightwidget.com/widgets/069ec68431d354249bd63b7ef831e933.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe>


        </div>

        <!---lateral ads--->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <app-bancuadrado></app-bancuadrado>
        </div>
    </div>
</div>
