<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">¿Cómo podemos ayudarte?</h1>
    </div>
</section>
<section class="pt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2>Las áreas de competencia de la Cirugía Bucal y Maxilofacial incluyen:</h2>
            </div>
        </div>

    </div>
</section>
<section class="pt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <ul>
                    <li>Anomalías y Patologías de la cavidad bucal</li>
                    <li>Implantes, transplantes y reimplantes en la cavidad bucal </li>
                    <li>Injertos en la cavidad bucal</li>
                    <li>Cirugía con finalidades protésicas en la cavidad bucal</li>
                    <li>Cirugía dentoalveolar</li>
                    <li>Cirugía con finalidades ortodónticas</li>
                    <li>Biopsias en la cavidad bucal</li>
                    <li>Diagnostico y tratamiento quirúrgico y no quirúrgico de los quistes, tumores y enfermedades de la cavidad bucal</li>
                    <li>Diagnóstico y tratamiento de las enfermedades, quistes y tumores de las glándulas salivales</li>
                    <li>Diagnóstico y tratamiento no quirúrgico y quirúrgico de las enfermedades de la articulación temporo-mandibular y dolor miofacial.</li>
                    <li>Lesiones de origen traumático de los tejidos blandos y duros de la cavidad bucal</li>
                    <li>Malformaciones congénitas, adquiridas y del desarrollo de los tejidos blandos y duros de la cavidad bucal</li>
                    <li>Cirugía Reconstructiva de la región Bucal </li>
                    <li>Anomalías y patologías de las estructuras Buco-Maxilofaciales</li>
                    <li>Implantes, transplantes y reimplantes de la región Buco-Maxilofacial</li>
                    <li>Injertos en la región Buco-Maxilofacial</li>
                    <li>Cirugías o procedimientos con finalidades protésicas o cosméticas en la región Buco-Maxilofacial</li>
                    <li>Cirugías con finalidades ortodónticas</li>
                    <li>Biopsias en la región Buco-Maxilofacial</li>
                    <li>Diagnóstico y tratamiento quirúrgico y no quirúrgico de los quistes, tumores y enfermedades de la región Buco-Maxilofacial
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <ul>
                    <li>Diagnóstico y tratamiento de los quistes, tumores y enfermedades de la articulación temporo-mandibular.</li>
                    <li>Lesiones de origen traumático de los tejidos blandos y duros de la región Buco-Maxilofacial</li>
                    <li>Malformaciones congénitas, adquiridas y del desarrollo de los tejidos blandos y duros de la región Buco-Maxilofacial.</li>
                    <li>Diagnóstico y tratamiento de las anomalías dentofaciales y desarmonías en su aspecto funcional y cosmético. </li>
                    <li>Tratamiento del dolor en la región Buco-Maxilofacial</li>
                    <br><br>
                    <h5>Cirugía reconstructiva de los tejidos blandos y duros de la región Buco-Maxilofacial:</h5><br><br>
                    <ul>
                        <li>Cirugía Reconstructiva avanzada de tejidos duros y blancos de la región craneofacial dentro de equipos multidisciplinarios para la realización de cirugías avanzadas de reconstrucción, corrección de craneosinostosis, manejo de síndromes,
                            entre otros; como lo son injertos microvascularizados, rotación de colgajos avanzados extraorales, osteotomías, en conjunto con cirugía de cabeza y cuello, cirugía plástica y reconstructiva, neurocirugía entre otros.
                        </li>
                        <li>Tratamiento quirúrgico de neoplasias malignas como parte del equipo de apoyo de oncología, cirugía de cabeza y cuello, neurocirugía y oncología, tanto en el abordaje inicial y exéresis de la lesión, como en su aspecto reconstructivo
                            según lo indicado en el ítem anterior. </li>
                        <li>Cirugía Videoasistida, Artroscopica y mínimamente invasiva de pequeñas articulaciones (ATM)
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="pt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Entre los aspectos mas comunes atendidos en el Área de la Traumatología Bucal y Maxilofacial tenemos:</h3>
            </div>
        </div>

    </div>
</section>
<section class="pt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <ul>
                    <li>Fractura de Mandíbula (sínfisis, parasinfisis, cuerpo, ángulo, subcondilar, cóndilo, compuestas)</li>
                    <li>Fractura del Maxilar Superior</li>
                    <li>Fracturas del Tercio Medio Facial</li>
                    <li>Fracturas Complejo Cigomático-Orbitario</li>
                    <li>Fracturas Panfaciales</li>
                    <li>Fracturas Dento-alveolares</li>
                    <li>Avulsión, Lujación Dentaria</li>

                </ul>
            </div>
            <div class="col-12 col-sm-6">
                <ul>
                    <li>Manejo y tratamiento de las secuelas de traumatismos faciales en los tejidos duros mediante osteotomías maxilares, injertos autógenos, xenogenos y combinación de ambos
                    </li>
                    <li>Manejo y tratamiento de las secuelas de traumatismos faciales en los tejidos duros y blancos dentro de equipos multidisciplinarios para la realización de cirugías avanzadas de reconstrucción como lo son injertos microvascularizados,
                        rotación de colgajos avanzados extraorales, en conjunto con cirugía de cabeza y cuello, cirugía plástica y reconstructiva, entre otros.</li>
                </ul>
            </div>
        </div>
    </div>
</section>