<div class="clear"></div>
<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">{{title}}</h1>
    </div>
</section>
<section class="blog-list">
    <div class="container">
        <div class="clear"></div>
        <!--Including the pagination control.-->
        <div class="col-12">
            <div class="text-center">
                <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6  fr-view" style="margin-bottom: 20px;" *ngFor="let paciente of pacientes | paginate: { itemsPerPage: count, currentPage: p }">
                <!--div class="col-sm-6 col-md-4 fr-view" *ngFor=" let directorio of directorios"-->
                <div class=" card cardblog">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-xs-12 col-sm-5 imgnott nopadd" [ngStyle]="{'background-image': 'url(' + paciente.image + ')'}"></div>
                            <div class="col-xs-12 col-sm-7" style="margin-top: 10px;">
                                <a [routerLink]="['/tips', paciente.id]">
                                    <h5>{{paciente.title}}</h5>
                                </a>
                                <p>{{paciente.short_desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12">
            <div class="text-center">
                <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>

    </div>
</section>
