<div class="container">
    <div class="right-widget recent-post desktop">
        <h3>Blogs recientes</h3>
        <div *ngFor="let blog of blogs | slice:0:4 " class="mt-1 ">
            <a [routerLink]="['/blog', blog.id]">
                <div class="rb-box">
                    <div class="rb-box-img">
                        <img src="{{blog.image}}" alt="{{blog.title}}" />
                    </div>
                    <div class="rb-box-desc">
                        <h6>{{blog.title}}</h6>
                    </div>
                </div>
            </a>
            <hr>
        </div>
    </div>
    <div class="right-widget recent-post movil">
        <h3>Blogs recientes</h3>
        <div *ngFor="let blog of blogs | slice:0:4 " class="mt-1 hidden-xs">
            <a href="blog/{{blog.id}}" target="_self">
                <div class="rb-box">
                    <div class="rb-box-img">
                        <img src="{{blog.image}}" alt="{{blog.title}}" />
                    </div>
                    <div class="rb-box-desc">
                        <h6>{{blog.title}}</h6>
                    </div>
                </div>
            </a>
            <hr>
        </div>
    </div>
</div>
