<div class="clear"></div>
<section class="topes" id="libreria">
    <div class="container">
        <h1 class="up">Acta Constitutiva.</h1>
    </div>
</section>

<section class="main pt-5 mt-2 mb-2">
    <div class="container uppp">
        <div id="links" class=" gallery row Contenedor_imagen Contenedor_imagen1 Contenedor_imagenMarf ">
            <a href="assets/acta-constitutiva/acta.png" data-gallery class="col-6 col-sm-3">
                <img src="assets/acta-constitutiva/acta.png" alt="Sociedad venezolana de cirugia bucomaxilofacial acta">
            </a>
            <a href="assets/acta-constitutiva/escanear0001.jpg" data-gallery class="col-6 col-sm-3">
                <img src="assets/acta-constitutiva/escanear0001.jpg" alt="Sociedad venezolana de cirugia bucomaxilofacial acta">
            </a>

            <a href="assets/acta-constitutiva/escanear0003.jpg" data-gallery class="col-6 col-sm-3">
                <img src="assets/acta-constitutiva/escanear0003.jpg" alt="Sociedad venezolana de cirugia bucomaxilofacial acta">
            </a>
            <a href="assets/acta-constitutiva/escanear0002.jpg" data-gallery class="col-6 col-sm-3">
                <img src="assets/acta-constitutiva/escanear0002.jpg" alt="Sociedad venezolana de cirugia bucomaxilofacial acta">
            </a>
        </div>
    </div>
</section>
<div class="clear"></div>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                                        <i class="glyphicon glyphicon-chevron-left"></i>
                                        Previous
                                    </button>
                    <button type="button" class="btn btn-primary next">
                                        Next
                                        <i class="glyphicon glyphicon-chevron-right"></i>
                                    </button>
                </div>
            </div>
        </div>
    </div>
</div>