<!-- <div class="bannerR">
    <owl-carousel-o [options]="banV" class=" card ">
        <ng-template carouselSlide class="item" *ngFor="let banvertical of banverticals; let i = index">
            <a href="{{banvertical.enlace}}" target="{{banvertical.target}}">
                <img [src]="banvertical.image" alt="{{banvertical.titulo}}">
            </a>
        </ng-template>
    </owl-carousel-o>
</div> -->

<div class="bannerR">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
        <div class="carousel-inner" >
            <div class="carousel-item " *ngFor="let banner of banverticals;let i=index " [ngClass]="(i === 0) ? 'active' : ''">
                <a href="{{banner.url}}" target="{{banner.target}}" class="btn btn-outline-dann">
                    <div *ngIf="!banner.img">
                        <img src="./assets/img/no-image.jpg" >
                    </div>
                    <div *ngIf="banner.img">
                        <img [src]="banner.image " alt=" {{banner.titulo}}">
                        
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>