<div class="col-sm-6 col-md-4 fr-view" *ngFor=" let directorio of directorios | slice:0:6">
    <!--div class="col-sm-6 col-md-4 fr-view" *ngFor=" let directorio of directorios"-->
    <div class=" card cardhome">
        <div class="card-body ">
            <img src="./assets/img/logo.png">
            <h5> <i class="fa fa-user-circle"></i>{{directorio.nombre}}</h5>
            <div class="clear"></div> <br>
            <p> <i class="fa fa-sitemap"></i> {{directorio.especialidad}}</p>
            <p><i class="fa fa-laptop"></i>{{directorio.website}}</p>
            <p><i class="fa fa-envelope"></i>{{directorio.email}}</p>
            <p><i class="fa fa-map-marker"></i>{{directorio.estado}}</p>
            <div class="clear"></div>
            <div class="social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>

        </div>
    </div>
</div>

<div class="clear"></div>

<div class="clear"></div>
<a href="directorio"><button class="boton2 col-xs-12 col-sm-6 col-sm-push-3 col-md-4 col-md-push-4">+ Info</button></a>