<section class="topes" id="directorio">
    <div class="container">
        <h1 class="up">El Trauma como problema de salud pública.</h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>A nivel mundial, es un consenso en la literatura que el trauma es la primera causa de muerte en pacientes entre los 15 y 40 años de edad, siendo la 3º causa de muerte a nivel general solo superada por las cardiopatías y el cáncer (PETERSON,
                    2002). Igualmente podemos observar que en pacientes atendidos en las emergencias de hospitales catalogados como de 4º nivel, el paciente portador de trauma en la región de craneofacial asociados o no a traumas en otras áreas de cuerpo
                    representa mas del 60% de los pacientes atendidos (VASCONCELOS et al., 2005) </p>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Las causas más frecuentes de traumas en la región maxilofacial son los accidentes automovilísticos, la agresión física (peleas, robos), así como accidentes laborales, pudiendo generar heridas en la cara y boca, así como fracturas de la
                    mandíbula, maxilar, o macizo facial, siendo que la atención de estas emergencias debe ser inmediata (MAURETTE et al., 2004, SERENA & PASSERI, 2008). Igualmente, en levantamientos epidemiológicos en ciudades con características poblacionales
                    y de niveles de violencia similares a los de la ciudad de Caracas, el 84% de los costos totales de los ingresos hospitalarios a nivel publico son debidas a traumatismos de diversa índole. (MENDOÇA et al., 2002). </p>
            </div>
            <div class="col-12 col-sm-6">
                <p>En los diferentes estudios urbanísticos publicados en la prensa nacional, se observa un crecimiento habitacional sostenido en la periferia de la capital en comparación con otras zonas de área metropolitana En las proyecciones mas conservadoras,
                    esto representa mas de 150.000,00 familias que requerirán acceso a los servicios de salud, sumando la necesidad de contar con servicios médicos de emergencia a disposición, así como una atención temprana y de calidad actualmente inexistentes.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div><br><br>
<section>
    <div class="container">
        <h2>El Rol del Cirujano Bucal y Buco-maxilofacila en la atención del paciente traumatizado. </h2><br><br>
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Es un hecho en la literatura científica, la importancia de la presencia del cirujano Buco-Maxilofacial como parte del equipo de urgencia y emergencia de los grandes centros referencia de trauma, siendo este profesional el mas indicado
                    para el abordaje y tratamiento de aquellas lesiones faciales que involucran los tejidos duros de la cara. (LONG III, 2006; BELL 2006; SUBHASHRAJ et al., 2008). Igualmente en levantamientos epidemiológicos de grande porte, se observa
                    como el Cirujano Buco-Maxilofacial es uno de los 3 profesionales a los cuales se les refiere el paciente con trauma facial, en hospitales universitarios, siendo entre las 3 especialidades (ORL, Cir. Plástica, CBMF) la de mayor porcentaje
                    de pacientes referidos y de solicitud de interconsulta en ambiente hospitalario (BACH et al., 2003). </p>
            </div>
            <div class="col-12 col-sm-6">
                <p>Es de rutina la presencia del Cirujano Buco-Maxilofacial como parte del cuadro de especialidades quirúrgicas en los hospitales de la mayoría de los países del norte y Suramérica, siendo Venezuela el único país que cuenta con residencias
                    formales en la especialidad desde hace menos de 20 años, razón que explica el porque muchos cirujanos buco-maxilofaciales venezolanos que cuentan con la certificación y cumplen con los estandares de ejercicio, se han formado fuera
                    del país. En los Estados Unidos y Canadá, existen también dentro de los grandes hospitales, servicios de odontología hospitalaria para la atención de aquellos pacientes con compromiso sistémico <b>sin estar estos servicios dentro de los departamentos de cirugía buco-maxilofacial ni con actuación en la emergencia.</b>
                </p>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div><br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Cabe destacar que el Cirujano Buco-Maxilofacial <b>es el profesional que se especializa exclusivamente durante todo el programa formal de estudios en el tratamiento del trauma de la cara durante mas de 4 años,</b> a diferencia de especialidades
                    conexas donde los residentes solo estudian el trauma de la cara durante periodos académicos que no superan los 2 años. </p>
            </div>
            <div class="col-12 col-sm-6">
                <p>Igualmente es interesante observar que <b>en nuestro país,</b> la especialidad que en su denominación legal de los títulos de la especialidad tiene la palabra <b>“maxilofacial”</b> es la especialidad de <b>Cirugía Buco-Maxilofacial siendo esto reconocido por el ministerio de Justicia y de la Salud.</b>
                </p>
            </div>
        </div>
    </div>
</section>